# Telegram
BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
ADMIN_IDS=
ITEMS_THRESHOLD=2

# PostgreSQL
# На Railway не вставляй пароль вручную.
# В сервисе бота добавь Reference Variable:
# DATABASE_URL=${{Postgres.DATABASE_URL}}
DATABASE_URL=
